{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/articles.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="col-md-7 article">
  <ol class="breadcrumb">
    <li><a href="{% url 'articles:articles' %}">首页</a></li>
    <li class="active">主题</li>
  </ol>
  {% include 'articles/partial_article.html' with article=article %}
  {% include 'articles/comments.html' with article=article %}
</div>
{% endblock main %}